name: setup-koordinates-exports
on:
  workflow_dispatch:
  schedule:
    # LINZ data appears to update weekly on Monday around 13:30 UTC, so set for 6 hrs later
    - cron: "30 19 * * 1"   # Run weekly at 19:30 on Monday
jobs:
  init-data-export:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
          cache: 'pip'
      - name: Install dependencies
        working-directory: ./scripts/koordinates
        run: pip install -r requirements.txt
      - name: Run setup downloads script
        working-directory: ./scripts/koordinates
        run: python ./setup_downloads.py
        env:
          LINZ_DATA_API_TOKEN: ${{ secrets.LINZ_DATA_API_TOKEN }}
          STATSNZ_DATA_API_TOKEN: ${{ secrets.STATSNZ_DATA_API_TOKEN }}
